
body {
    background-color: rgb(208, 201, 179);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    overflow: hidden;
    user-select: none;
}


#guessContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding-top: 10px;
    margin: 0px;
}

button {
    border-radius: 10px;
    background-color: rgb(46, 148, 215);
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-width: 5px;
    border-style: solid;
}


button:hover {
    transition: 0.1s ease-in-out;
    transform: scale(1.1);
    background-color: rgb(37, 115, 167);
}

button:active {
    transition: 0.1s ease-in-out;
    transform: scale(1.05);
    background-color: rgb(69, 146, 197);

}


#guessContainer button {
    margin: 10px;
    width: 30%;
    height: 8%;
    font-size: 300%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-height: 8%;
}


#flag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin: 0px;
    padding: 30px;
}

#flag img {
    border-width: 5px;
    border-style: solid;
    user-select: none;
    border-radius: 25px;

}

hr {
    width: 50%;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.074);
}
